<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Home", root_path, class: "logo sml" %>
  </div>
  <div class="nav-links-container">
    <%= link_to "My Profile", admin_user_path(current_user), class: "navbar-item" if logged_in? %>
    <%= link_to "New Test", new_admin_test_path, class: "navbar-item" if logged_in? && company_admin? %>
    <%= link_to "All Tests", admin_tests_path, class: "navbar-item" if logged_in? %>
    <%= link_to "Log Out", logout_path, method: 'delete', class: "btn primary-outline" if logged_in? %>
  </div>
</nav>