 <p class="menu-label">
        Admin
    </p>
    <ul class="menu-list">
      <li><%= link_to "Add Lab", new_company_lab_connection_path %></li>
      <li><%= link_to "Add User", new_admin_user_path %></li>
      <li><%= link_to "Labs", company_lab_connections_path %></li>
      <li><%= link_to "Users", admin_users_path %></li>
    </ul>
    <p class="menu-label">
        Tests
    </p>
    <ul class="menu-list">
      <li><%= link_to "All Tests", admin_tests_path %></li>
      <li><%= link_to "New Test", new_admin_test_path %></li>
    </ul>