<div class="container">
  <div class="container-box">
    <h1>Welcome <%= current_user.first_name%></h1>
    <div class="divider"></div>
    <aside>
      <%= render 'users/company_dashboard' if current_company %>
      <%= render 'users/lab_dashboard' if current_lab %>
      <%= render 'users/user_dashboard' if current_user && current_user.is_customer %>
      
      
      <div class="divider"></div>
      <%= button_to "Delete Account", user_path, method: "delete", class: "btn-sm red-outline", data: { confirm: 'Are you sure you want to delete your account? This action can not be undone.' } %>
      
    </aside>
  </div>
</div>

</div>