<%= render 'company_lab_connections/pending_connections' if current_user.lab_super_admin %>
<p class="menu-label">
    Admin
</p>
<ul class="menu-list">
  <li><%= link_to "Company Connections", company_lab_connections_path %></li>
  <li><%= link_to "Edit Lab", edit_lab_path(current_lab) %></li>
</ul>
<p class="menu-label">
    Tests
</p>
<ul class="menu-list">
  <li><%= link_to "All Tests", admin_tests_path %></li>
</ul>
<p class="menu-label">
  Profile
</p>
<ul class="menu-list">
  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
</ul>