<%= form_for @company_lab_connection do |f| %>

    <%= f.fields_for @user do |user_form| %>
        <%= user_form.label :email, class: "label" %>
        <%= user_form.text_field :email, class: "input" %> <br></br>
    <% end %>
    <div class="control">
        <%= f.submit "Connect Lab", class: "button is-link" %>
    </div>
<% end %>