<%= form_for @company, html: {class:"form-stretch"} do |f| %>
    <%= f.label :company_name, class: "label" %>
    <%= f.text_field :name, class: input_with_errors_class(@company, :company_name) %>
    <p class="help is-danger"><%= format_error(@company.errors[:company_name]) if @company.errors.any? %></p>
    <%= f.fields_for @user do |f| %>
       <%= render partial: 'users/base_user_form', locals: {f: f} %>
    <% end %>
    <%= f.submit class: "btn" %>
<% end %>

