<%= form_for [:admin, @test], html: {class:"form-stretch"} do |f| %>

    <%= f.label :unique_test_id, class: "label" %>
    <p class="input">
        <%= @test.unique_test_id %>
    </p>
    <p class="help is-danger"><%= format_error(@test.errors[:unique_test_id]) if @test.errors.any? %></p>
    
    <%= f.label :mma, class: "label" %>
    <%= f.text_field :mma, class: input_with_errors_class(@test, :mma) %> <br>
    <p class="help is-danger"><%= format_error(@test.errors[:mma]) if @test.errors.any? %></p>    
    
    <%= f.label :creatinine, class: "label" %>
    <%= f.text_field :creatinine, class: input_with_errors_class(@test, :creatinine) %> <br>
    <p class="help is-danger"><%= format_error(@test.errors[:creatinine]) if @test.errors.any? %></p>
    
    <% if !params[:action] = "edit" %>
        <%= f.label :final_result, class: "label" %>
        <%= f.text_field :final_result, class: input_with_errors_class(@test, :final_result) %> <br>
        <p class="help is-danger"><%= format_error(@test.errors[:final_result]) if @test.errors.any? %></p>
    <% end %>
    
    <div class="flex">
        <%= f.label :verified, class: "label" %>
        <%= f.check_box :verified, class: "checkbox" %> <br>
    </div>

    <%= f.submit class: "btn" %> <br>
<% end %>
