<table class="table">
    <thead class="thead">
        <th>Unique Test ID</th>
        <th>MMA</th>
        <th>Creatinine</th>
        <th>Result</th>
        <th>Verified</th>
        <th>Updated On</th>
    </thead>
    <tr>
        <td><%= link_to_test_show_page(test) %></td>
        <% if admin? || test.verified %>
            <td><%= test.mma %></td>
            <td><%= test.creatinine %></td>
            <td><%= test.final_result %></td>
            <td><%= test.verified %></td>
            <td><%= test.updated_at.strftime("%B %d, %Y at %l:%M %p")%></td>
        <% end %>
    </tr>
</table>