<tr>
    <td><%= link_to_test_show_page(test) %></td>
    <% if admin? || test.verified %>
        <td><%= test.mma %></td>
        <td><%= test.creatinine %></td>
        <td><%= test.final_result %></td>
        <td><%= test.verified %></td>
        <td><%= test.readable_timestamp %></td>
    <% end %>
</tr>
