<div class="container">
    <%= render 'test_show' %>
</div>
<% if current_lab %>
<div class="container">
    <%= link_to "Update Test", edit_admin_test_path(@test), class: "btn" %>
</div>
<% end %>
<% if current_user.super_admin && @test.user %>
<div class="container-box">
    <h3>Customer Info</h3>
    <div class="divider"></div>
    <%= link_to "View All of #{@test.user.first_name}'s Tests", user_tests_path(@test.user), class: "is-link" %>
    <br>
    <%= link_to "Add A New Test", admin_user_tests_path(@test.user), method: "post", class: "is-link" %>
    <br></br>
    <p><%= @test.user.first_name + " " + @test.user.last_name %></p><br>
    <p><%= @test.user.email %></p><br>
    <!--<p>Birthdate: <%= readable_timestamp(@test.user.birthdate) %></p><br> -->
    <p><%= @test.user.phone %></p><br>

    <p>Created on <%=readable_timestamp(@test.user.created_at)%></p><br>
    <p><%=@test.user.dr_email%></p><br>
</div>

<% end %>


<% if current_user.super_admin && @test.user.nil? %>
<%= link_to "Delete", admin_test_path(@test), method: "delete", data: { confirm: 'Are you sure you want to delete this test? This action cannot be undone.' }, class: "btn-sm red-outline" %>
<% end %>