<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <%= link_to "Home", root_path, class: "navbar-item" %>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
  
        <%= link_to "Test Registration", new_test_path, class: "navbar-item" if logged_in? %>
        <%= link_to "My Profile", user_path(current_user), class: "navbar-item" if logged_in? %>
        <%= link_to "New Company", new_company_path, class: "navbar-item" if !logged_in? %>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to "Login", login_path, class: "button is-primary" if !logged_in? %>
            <%= link_to "Sign Up", signup_path, class: "button is-light" if !logged_in? %>
            <%= link_to "Log Out", logout_path, method: 'delete', class: "button is-light" if logged_in? %>
          </div>
        </div>
      </div>
    </div>
  </nav>